body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: pink;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.grid{
text-align: center;
margin: -1px auto;

}

.title {
    
    padding: 10px;
    background: blanchedalmond;
    text-align: center;
    display: block;
    width: 50%;
    border-radius: 5px;
    margin: auto;
    font-family: 'Monoton', cursive;
    font-size: 80px;
    border: dotted pink;
    
    
}

.playerturns{
    text-align: center;
    font-size: 20px;
}

.count{
    text-align: center;
    
}

button{
    width: 20px;
    height: 19px;
    text-align: center;
    color: black;
    display:inline-block;
    margin: 1px;
    cursor: pointer;


 
}

.reload{
    text-align: center;
    padding:20px;
}

.reload-btn{
    height: 40px;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    display:inline-block;
    margin: auto;
    background: blanchedalmond;
    border: dotted pink;
    
}